.container {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.pagina-enter-active {
  transition: all .3s ease-out;
}
.pagina-leave-active {
  transition: all .6s cubic-bezier(1, .5, .8, 1);
}

.pagina-enter-from,
.pagina-leave-to {
  transform: translate(50px);
  opacity: 0;
}